<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Basicos</h1>
  <h3 class="text-xl font-thin">Pipes inluidos en angular</h3>
</section>

<div class="stats shadow w-full">
  <div class="stat place-items-center">
    <div class="stat-title">Lowercase Pipe</div>
    <div class="stat-value">{{ nameUpper() | lowercase }}</div> <!-- Pasamos un Valor a Minusculas -->
    <div class="stat-desc">{{ nameUpper() }}</div> <!-- Este es el valor como esta originalmente -->
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Uppercase Pipe</div>
    <div class="stat-value text-secondary">{{ nameLower() | uppercase }}</div>
    <div class="stat-desc text-secondary">{{ nameLower() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Titlecase Pipe</div>
    <div class="stat-value">{{ fullName() | titlecase }}</div>
    <div class="stat-desc">{{ fullName() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats shadow w-full">
  <div class="stat place-items-center">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <!--
      Si queremos configurar nosotros la zona horaria
      Los argumentos que le mandamos son:
        - long: Queremos la fecha completa, (Podemos usar Short para mostrar la fecha Corta)
        - La zona horaria especifica
  -->
  <div class="stat place-items-center">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date: 'long' : 'GMT-6' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

</div>

<div class="stats shadow w-full">
  <div class="stat place-items-center">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date: 'yyyy MM' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date: 'short' : 'GMT-4' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

</div>

<!-- Esto lo colocamos para cambiarlo a un idioma correspondiente -->
<div class="divider"></div>

<div class="stats shadow w-full">
  <div class="stat place-items-center">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date:"dd/MM/yyyy" }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date: 'HH:mm:ss' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date: 'EEEE d, MMMM' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>
</div>

<div class="divider"></div>

<!--
  Zona para cambiar de forma dinamica el idioma
    En Angular hay varias formas de hacer esto porque los idiomas deben de estar en memoria en algun objeto
    lo que se va a hacer es que si cambiamos de lenguaje tenemos que recargar completamente la aplicacion
-->
<div class="flex flex-row gap-2">
  <h1 class="text-2xl font-bold">Local Actual:
    <span class="badge badge-secondary">ES</span>
  </h1>

  <button class="btn btn-primary">
    Changer en Francais
  </button>
  <button class="btn btn-primary">
    Change to English
  </button>
  <button class="btn btn-primary">
    Cambiar a Español
  </button>
</div>
