<!-- Para mostrar el valor de nuestro counter colocamos doble llaves (Ahi podemos colocar cualquier expreccion de JS) -->
<h1>Counter: {{ counter }}</h1>

<!-- Uso de la señal
    Que para poder utilizarlas debemos de invocar su valor proque las signal no son mas que funciones por eso le ponemos los parentesis
    Por eso tambien se les pone un nombre descriptivo para no confundirlos con una simple funcion y al poner el cursor encima
    nos dice que es una Signal
-->
<h1>Counter Signal: {{ counterSignal() }}</h1>

<hr>
<!-- Los eventos en Angular se ponen entre parentesis: (NombreEvento)="LoQueMandaAllamar"  -->
<button (click)="increaseBy(1)">+1</button>
<button (click)="increaseBy(-1)">-1</button>
<button (click)="resetCounter()">Reset</button>