<p>Home Page</p>
<hr>

<h3>Traditional {{ traditionalProperty }}</h3>
<h3>Signal {{ signalProperty() }}</h3>

<!--
  Cuando damos click en alguno de los botones veremos en consola los componentes y efectos que se disparan
-->
<button (click)="changeTraditional()">Cambiar Tradicional</button>
<button (click)="changeSignal()">Cambiar Señal</button>

<!--
  Aqui veremos que si cambiamos la Signal o la Traditional segun la colocada en el titulo, veremos que aqui tambien cambia
  pero esto es propio del componente, no del OnChanges
-->
<br>
<app-title [title]="traditionalProperty" />
