<p>{{ countryCode }}</p>

<!-- Si no se encontro un pais -->
 @if( countryResource.error() ){
  <section class="flex flex-col items-center justify-center mt-10">
    <h1>No se encontro pais</h1>
    <a href="" class="link-primary cursor-pointer">Regresar</a>
  </section>
}
<!-- Si queremos obtener directamente la informacion del pais del objeto "countryResources" este en un determina tiempo
    estara vacio, y asi estariamos obligados a meter muchas condiciones,
    por ahora lo dejamos como desmotracion
-->
@if ( countryResource.hasValue() ) {
  <h3>Nombre: {{ countryResource.value()!.name }}</h3>
}
