<p>{{ countryCode }}</p>

<!-- Si no se encontro un pais -->
 @if( countryResource.error() ){
  <app-not-found/>
}

<!-- Si queremos implementar un loading -->
@if ( countryResource.isLoading() ) {
  <h1 class="text-3xl">Cargando...</h1>
}

<!-- Si queremos obtener directamente la informacion del pais del objeto "countryResources" este en un determina tiempo
    estara vacio, y asi estariamos obligados a meter muchas condiciones,
    por ahora lo dejamos como desmotracion
-->
@if ( countryResource.hasValue() ) {
  <!--
    Como mostrar el contenido de country-page va a ser mucho y como el contenido va a ser especificamente y unicamente usando
    en este "country-page" nos creamos otro componente
  -->
  <country-information-page [country]="countryResource.value()"/>
}
