<div id="nav" class="w-full px-6">
  <!-- La clase que queremos controlar si esta activa la opcion es con "bg-blue-800" -->
   @for (item of menuOption; track item.route) {
      <a
        [routerLink]="item.route"
        routerLinkActive="bg-blue-800"
        class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 bg-blue-800 hover:bg-white/5 transition ease-linear duration-150">
          <div>
              <!-- Implementacion de iconos en clase,Esta es otra forma de declarar la clase poniendo entre llavez -->
              <!-- <i class="{{ item.icon }}"></i> -->
              <!-- Lo de arriba no es recomendable usarlo ya que si es el valor enlazado o computado de un servicio o de la propiedad de un componente, hay que hacerlo entre llaves cuadrada-->
              <i [class]="item.icon"></i>
          </div>
          <div class="flex flex-col">
              <span class="text-lg font-bold leading-5 text-white">{{ item.label }}</span>
              <span class="text-sm text-white/50 hidden md:block">{{ item.sublabel }}</span>
          </div>
      </a>
  }

  <!-- Mostrar el historial de busquedas (Al ser un signal computado lo llamamos entre parentesis)-->
   @for (key of gifService.searchHistoryKeys(); track key) {
      <a
        [routerLink]="['/dashboard/search']"
        routerLinkActive="bg-blue-800"
        class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 bg-blue-800 hover:bg-white/5 transition ease-linear duration-150">
          <div>
              <!-- Implementacion de iconos en clase,Esta es otra forma de declarar la clase poniendo entre llavez -->
              <!-- <i class="{{ item.icon }}"></i> -->
              <!-- Lo de arriba no es recomendable usarlo ya que si es el valor enlazado o computado de un servicio o de la propiedad de un componente, hay que hacerlo entre llaves cuadrada-->
              <i class="fa-solid fa-clock-rotate-left"></i>
          </div>
          <div class="flex flex-col">
              <span class="text-lg font-bold leading-5 text-white">{{ key }}</span>
          </div>
      </a>
  }
 </div>
