<!-- 
  Despues de poner el componente en el "app.routes.ts" para que se renderize veremos que se muestra debajo del contenido que ya viene por defecto
  y es que con este componente Angular sabe que dependiendo de la Ruta o la UR donde nos encontramos va a renderizar una ruta
  Si borramos todo el contenido y dejamos solo este, veremos que solo se muestra nuestro componente. Todo lo que este en este archivo fuera de este "router-outlet" 
  va a salir en todas las paginas

  El "router-outlet" es la renderizacion de las rutas
-->
<router-outlet />
