<p>DragonBall Page</p>
<hr />

<!-- En la vida real no vamos a querer crear componentes con tanta logica, lo mejor es crear
    Componentes que tengan una responsabilidad unica por ejemplo en este caso tener un componente para
    agreagar personajes y tener otro componente para listarlos
-->
<section class="row">
    <div class="col-12 col-sm-6">
        <!--
            Queremos que al llenar los inputs y precionar el boton se agregen los datos en la lista, hay varias formas pero lo vamos a hacer de la forma que sabemos
            que es creando señales (Una para cada input)
            Ponemos para que salga el nombre de la Signal despues de la palabra "Agregar"

            En el "input" si queremos asignarle un valor a un atirbuto (por ejemplo a "value"), la sintaxis recomendada para cuando el atributo viene de una
            variable o Signal, el parametro se pone netre llavez cuadradas [value] y entre comillas el atributo.
            Hay varios eventos que podemos asignar a un input con el (change) podemos disparar el evento cuando terminamos de escibir en el input y quitamos 
            el foco, como queremos actualizar la signal (Idealmente se hace del lado del componente de TS) por ahora lo hacemos aqui, dentro del "set" le vamos
            a establecer el valor que tengamos en el "$event" con el simbolo de "$" tendremo todo el evento cuando cambie. Ahora para poner asi:
                - "name.set($event.target?.value ?? '')" -> Tendremos varios problemas y es la posibilidad de NULL que ponemos el "?" y si no sigue siendo null con 
                    "??" nos coloque la cadena pero tenemos el problem del tipado porque con Angular solo nos dice que es un evento generico
            Para evitar esos problemas de arriba vamos a hacer una referencia local
                - Ponemos el "#" seguido de la referencia
            En este caso le damos "txtName" esto nos permite poder aputnar a esta referencia que a su vez apunta al INPUT que al especificarla dentro del "set()1"
            ya sabe que es un campo que tiene su VALUE asi que podemos usar "tstName.Value"

            Con esto al escribir en el Input, se actualiza el valor del (name())
            Si queremos que cada vez que la persona escriba se actualize el valor de la Signal seria el evento (input)
        -->
        <h3>Agregar: {{ name() }}</h3>
        <input 
            type="text" 
            class="form-control" 
            placeholder="Nombre"
            [value]="name()"
            (change)="name.set(txtName.value)"
            (input)="name.set(txtName.value)"
            #txtName
        />
        <h3>Poder: {{ power() }}</h3>
        <!--
            Aqui la referencia del power nos dira que no podemos asignar el String a tipo Number
            para solucionarlo podemos hacer la transformacion agregandole un + al inicio o llamar al valueAsNumber
        -->
        <input 
            type="number"
            class="form-control mt-2" 
            placeholder="Poder"
            (change)="power.set(+txtPower.value)"
            (input)="power.set(txtPower.valueAsNumber)"
            #txtPower
        />
        <!-- No requerimos mandarle ningun valor al "addCharcter" porque va a tomar como referencia los valores -->
        <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
    </div>
    <!--
        Los componentes deben de tener una tarea en particular y hacerla bien por ejemplo el componente de abajo
        solo va a mostrar un listado y el de arriba solo va a poder agrear nuevos personajes llenando los campos
        Al final toda nuestra pagina esta compuesto de diferentes componentes pequenos
    -->
    <div class="col-12 col-sm-6">
        <!-- 
            Ahora en nuestro listado solo queremos mostrar los personajes con un poder fuerte, lo debiles los queremos ocultar
            Tenemos varias formas de hacer esto:
                - Usando "*ngIf" segido de una condicion (Esto se colocaba directamente en el elemento HTML) el problema es que no podemos mezclar el ngIf con el ngFor
                - El nuevo es "@if" siguiendo la sintaxis de cualquier lenguaje y si se cumple se muestra el codigo que tenga interno (Tambien podemos poner el "@else")
        -->
        <h3>Listado Fuerte</h3>
        <ul>
            <!--
                Para poner los elementos del arreglo "Character" tenemos las nuevas directivas que empiezan con @(@for) y las antiguas de ng(ngFor)
                Con el Track le damos seguimiento a un identificador unico
                @For( NombreIterador of NombreArreglo; track NombreIterador.Propiedad ) 

                Como el arreglo es una signal lo ponemos entre parentesis, por defecto viene "track $index" pero no hay que usar el indice porque puede
                dar efectos indeceados si modificados el arreglo constantemente
                Asi recorremos los elementos y ademas podemos usar varias banderas

                Como aqui tenemos un UL queremos que Angular nos coloce el numero del elemento
                para esto usamos la badera del "index" (Asi si queremos usar mas banderas o definir mas variables solo las separamos por coma)
            -->
            @for (character of characters(); track character.id; let idx = $index) {
                <!-- Uso de la condicion para que no se muestren personajes menores a 500 -->
                 @if( character.power > 500 ){
                    <li>
                        <span>{{ idx+1 }} - {{character.name}}</span>
                        <!--
                            Anteriormente le ponemos el poder en ROJO pero queremos que esto no aplicque mas que a los personajes con un poder arriba de 9000
                            tenemos que agreagar este estilo condicional, hay varias formas de hacerlo 
                                * [class.Nombre_de_la_clase_a_Condicionar]='VariableBooleana' (La clase se aplicara solo si la variable da True)
                                * [ngClass] -> Como esta es una directiva la tenemos que importar en el componente y nos permite mandar un objeto:
                                        "{ 'active: isActive,'
                                        'disable': isDisabled}"
                        
                        (Son varias tecnicas que tenemos para aplicar estilos condicionales)
                            Aqui usamos nuestra signal computada que es de solo lectura
                            Asi como implementamos la logica, el estilo lo aplicada a todos los elementos ya tendiramos que crear algo para que la condicion cambiase
                        
                        <strong
                            [ngClass]="powerClasess()"
                        >

                        En este caso aplicamos la clase de manera condicional solo si la clase es mayor a 9000
                            luego si queremos coloreear de otro color las demas tenemos que agregar otra que cumpla la condicion pero para un poder menor
                        -->
                        <strong 
                            [class.text-danger]="character.power > 9000" 
                            [class.text-primary]="character.power < 9000"
                        >
                            ({{ character.power }})</strong>
                    </li>
                }@else{
                    <li>Aqui no hay nadien</li>
                }
            }
        </ul>
    </div>
</section>
