<p>DragonBall Page</p>
<hr />

<section class="row">
    <div class="col-12 col-sm-6">

        <!-- Este es otro componente que lo llamamos al inicio con "dragonball-NombreComponente" porque asi es como esta
         definido el nombre en el archivo TS en la parte del "selector"-->

        <dragonball-character-add />
    </div>
    <div class="col-12 col-sm-6">
        <!-- 
            Despues de poner el componente tenemos que guardar los cambios para que nos salga la importacion en el componente y funcione
            sino nos dara error
            Despues de que el componente pueda recibir la informacion con la funcion "input" desde el componente padre le tendemos que mandar esos datos
            Le mandamos el arreglo de los personajes que tenemos como una signal

            Vamos a recibicr otro atributo, no lo ponemos entre [] para que se recibido el String y poqur el valor no es dinamico 
         -->
        <dragonball-character-list 
            listName="Listado de Personajes"
            [characters]="characters()"
        />

    </div>
</section>
