<!--
    Componente del buscador donde el texto que muestre segun lo que queremos buscar
    Con el (value) le pasamos el valor que emita el input con el "event" a la funcion onSearch
-->
<country-search-input
  placeholder="Buscar por capital"
  (value)="onSearch($event)"
/>

<!--
    Despues de la busquedad requerimos pasarle la informacion de los paises a este componente
    (El argumento va entre [] para poder mandar la informacion) y como de donde viene la informacion es una
    signal ponemos ()
-->
<country-list [countries]="countries()"/>
