<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes No tan comunes</h1>
  <h3 class="text-xl font-thin">Pipes inluidos en angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <!--
    Esta tarjeta que creamos la tenemos que duplicar muchas veses donde solo cambiariamos el contenido.
    para no estar copiando y pegando codigo vamos a usar el ContentProyection de Angular, lo que queremos mandar del padre
    es el Titulo del Pipe y el Contenido

    El nombre de "i18n" es de internacionalitation, seria parte de las traducciones para que soporte multidioma
  -->
  <app-card title="i18nSelectPipe">
    <!-- Cuando usamos los componentes de angular automaticamente reciben este contenido que es lo que queremos proyectar
          y no tenemos que configurar nada
          Podemos mandar los elementos que queramos no solo uno

        La logica con este Pipe es que el Cliente que sera una persona debe afectar el texto mostrado segun su genero, en este caso
        la palabra "invitarlo" tiene que cambiar segun la persona a la que nos refieramos
        para trabajar esto ocupamos detectar el genero de la pesona, el "invitationMap" nos va a mapear lo que tengamos en el gender
    -->
    <p>Saludos {{ client().name }}, es un placer {{ client().gender | i18nSelect:invitationMap }} a nuestro evento</p>
    <button (click)="changeClient()" class="btn btn-primary">Cambiar de cliente</button>
  </app-card>

</div>
