<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes No tan comunes</h1>
  <h3 class="text-xl font-thin">Pipes inluidos en angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <!--
    Esta tarjeta que creamos la tenemos que duplicar muchas veses donde solo cambiariamos el contenido.
    para no estar copiando y pegando codigo vamos a usar el ContentProyection de Angular, lo que queremos mandar del padre
    es el Titulo del Pipe y el Contenido

    El nombre de "i18n" es de internacionalitation, seria parte de las traducciones para que soporte multidioma
  -->
  <app-card title="i18nSelectPipe">
    <!-- Cuando usamos los componentes de angular automaticamente reciben este contenido que es lo que queremos proyectar
          y no tenemos que configurar nada
          Podemos mandar los elementos que queramos no solo uno

        La logica con este Pipe es que el Cliente que sera una persona debe afectar el texto mostrado segun su genero, en este caso
        la palabra "invitarlo" tiene que cambiar segun la persona a la que nos refieramos
        para trabajar esto ocupamos detectar el genero de la pesona, el "invitationMap" nos va a mapear lo que tengamos en el gender
    -->
    <p>Saludos {{ client().name }}, es un placer {{ client().gender | i18nSelect:invitationMap }} a nuestro evento</p>
    <button (click)="changeClient()" class="btn btn-primary">Cambiar de cliente</button>
  </app-card>

  <app-card title="i18nPluralPipe">
    <!--
      En el parrafo vemos que hay varias palabra que pueden cambiar de acuerda a la cantidad de personas que tengamos
      o cambiar el mensaje totalmente cuando no haya nadien esperando

      Cambiamos el Numero segun el pipe
    -->
    <p>Actualmente {{ clients().length | i18nPlural:clientsMap() }}</p>

    <button
      [disabled]="clients().length === 0"
      (click)="deleteClient()"
      class="btn btn-primary"
    >Borrar Cliente</button>
  </app-card>

  <app-card title="SlicePipe">
    <!-- Como esta Signal esta amarrada a cada vez que hacemos click en el boton de borrar, veremos como se borra aqui tambien el contenido -->
    <b>Original</b>
    <p class="text-primary">
      {{ clients().join(', ') }}
    </p>

    <!--
        El Slice nos pide el indice que queremos cortar
          en este caso queremos cortar de 0 (Al incio) a 2 (Hasta esta pocicion del arreglo que no se incluya)
          Si mandamos numeros negativos
            * -3 -> Es para que tome los ultimos 3 elementos
          Cuando no hay elemntos en esa pocicion no se muestra nada en pantalla porque nos regresa undefined
    -->
    <b class="mt-2">Slice</b>
    <p class="text-primary">{{ clients() | slice: 0 : 2 }}</p>
    <p class="text-primary">{{ clients() | slice: 1 : 2 }}</p>
    <p class="text-primary">{{ clients() | slice: 1 : 3 }}</p>
    <p class="text-primary">{{ clients() | slice: 3 : 4 }}</p>
    <p class="text-primary">{{ clients() | slice: 0 : -3 }}</p>
  </app-card>

  <!--
    Con este pipe podemos hacer la representacion de un JSON de un objeto en pantalla
    esto usualmente se usa para hacer depuraciones
      A simple vista los elementos que tengmos si solo los queremos mostrar solo veremos sus valores que contiene
      y cuando es un objeto litera, tenemos un problema mas grande porque veremos [object Object] -> Esto se da cuando
      tenemos un objeto en JS y lo tratamos de serializar a un String
    Si queremos ver todas las propiedades del objeto entonces lo pasamos por el Pipe JSON
      Con esto ahora podemos ver que es un arreglo, que es un objeto y que es un String
  -->
  <app-card title="JsonPipe">
    <pre class="text-primary">{{ clients() | json }}</pre>
    <pre class="text-primary">{{ client() | json }}</pre>
    <!--
      La ejecucion de la logica va de izquierda a derecha y tambien podemos aplicar pipes en cadena
    -->
    <p class="text-primary">{{ clients().join(', ') | json }}</p>

  </app-card>

  <!--
    Nuestro objeto "profile" por si solo no es un elementos que se pueda iterar por tanto no lo podemos usarlo en un For
    pero si le pasamos el pipe KeyValue ya lo transforma en un arreglo (Como es un objeto obtenemos la llave y su valor)
  -->
  <app-card title="KeyValuePipe">
    <ul>
      @for (item of profile | keyvalue; track $index) {
        <li>
          <strong class="text-primary">{{ item.key }}:</strong>
          <span>
            {{ item.value }}
          </span>
        </li>
      }
    </ul>
  </app-card>
</div>
