<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Personalizados</h1>
  <h3 class="text-xl font-thin">Pipes no inluidos en angular</h3>
</section>
<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">ToggleCase Pipe</div>
    <!--
      La idea es que a este Pipe podamos mandarle True/False de manera dinamica, si queremos aplicar o no el Pipe
      Recordemos que en el metodo del Pipe teniamos "...args" que era un Arreglo donde podemos mandar mas argumento de este tipo
      y cada vez que queramos mandar otro argumento se ponen ':' luego el nuevo argumento
    -->
    <div class="stat-value">{{ name() | toggleCase : upperCase()}}</div>
    <div class="stat-desc">{{ name() }}</div>

    <button
      class="btn btn-primary mt-2"
      (click)="upperCase.set(!upperCase())"
    >
      ToggleCase
    </button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="my-2">
  <h1 class="text-2xl font-bold">Filtrando por: ordenando por: {{ sortBy() }}</h1>
  <div class="flex gap-2 justify-end w-full">
    <button (click)="sortBy.set('name')" class="btn btn-primary">
      Por Nombre
    </button>
    <button (click)="sortBy.set('canFly')" class="btn btn-accent">
      Por Volar
    </button>
    <button (click)="sortBy.set('color')" class="btn btn-secondary">
      Por Color
    </button>
    <button (click)="sortBy.set('creator')" class="btn btn-info">
      Por Creador
    </button>
  </div>
</section>

<div class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Puede Volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>
      <!--
        Aqui estamos usando un Pipe para mostrar los datos ya ordenados, gracias a la configuracion que le pusimos para que reciba la propertie
        de la Data Hero porque estos son los que van a aplicar el filtro segun
      -->
       @for (hero of heroes() | heroSortBy:sortBy(); track hero.id; let i = $index) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ hero.name }}</td>
          <!-- Por defecto este elemento se mostraba como un True o False pero queremos que diga otra cosa
              Entre [] le agregamos clases solo en el caso que se cumple la condicion que pueda volar
              Le agregamos el Pipe para que nos muestre el texto que queremos
          -->
          <td>
            <span
              class="text-xs w-44"
              [class.text-success]="hero.canFly"
              [class.text-accent]="!hero.canFly"
            >
              {{ hero.canFly | canFly }}
            </span>
          </td>
          <!-- Para que no salga el numero de la enumeracion y mejor salga el nombre del color
                Ademas hacemos que le asigne el color al texto segun el color que le corresponde
                Veamos que podemos hacer la encadenacion de Pipes para esto hay que tener cuidado
                porque el orden importa
          -->
          <td>
            <span
              class="text-xs w-44"
              [style.color]="hero.color | heroTextColor"
            >
              {{ hero.color | heroColor | titlecase }}
            </span>
          </td>
          <td>
            <span
              [class.text-primary]="hero.creator === 0"
              [class.text-accent]="hero.creator === 1"
            >
              {{ hero.creator | heroCreator}}
            </span>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
